@import "keyframes";

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@include keyframes(rotate) {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}