/*
 Unless otherwise specified, this is closed-source. Copying without permission is prohibited and may result in legal action with or without this license header
*/
@mixin backdrop-common {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

@mixin backdrop {
    position: fixed;
    @include backdrop-common;
}

@mixin backdrop-absolute {
    position: absolute;
    @include backdrop-common;
}
.backdrop {
    @include backdrop;
}

.backdrop.absolute, .backdrop-absolute {
    @include backdrop-absolute;
}